@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url('/fonts/roboto.ttf')
}

@theme {
  --color-primary: #be00b1;
  --color-secondary: #0ec3f2;
  --color-tertiary: #f22ee5;
  --color-accent: white;
  --color-accent-dark: #03258c;
  --color-accent-darkest: #021e73;
}

:root {
  font-family: Roboto, Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
